/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/adoc/2015_lisbon.html
/src/lisbon/*.adoc
Makefile-local
/.cask/
/adoc/2015_lisbon.pdf
/adoc/2015_lisbon_book.html
/adoc/2015_lisbon_pdf_wrapper.xml
/adoc/2015_prerequisities.html
/adoc/auto/
/catalog-v001.xml
/catnip.omn
/o.omn
/o.owl
