*~
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/src/tawny/tutorial/*.adoc
Makefile-local
/.cask/
/adoc/2015_swat4ls.pdf
/adoc/*.html
/adoc/2015_swat4ls_pdf_wrapper.xml
/adoc/auto/
/catalog-v001.xml
*.omn
*.owl